.intro {
    text-align: center;
}

.intro {
    text-align: center;
    margin-top: 5%;
    
}

.GFX {
   text-align: center;
   margin-top: 5%;
}

.Games {
    
}

.clothing {

    
}

.link {
    padding: 3%;
}

.links {
    margin-top: 2%;
}
